body {
    font-family: 'Inter';
    padding: 30px
}

a {
    text-underline-offset: 20%;
    text-decoration-thickness: 10%;
    color: #7185d7;
    font-weight: bold;
}

a:hover {
    color: #2ca585;
}

.article-wrapper {
    font-size: normal;
    font-weight: bolder;
    min-width: 200px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex: .25;
    padding: 10px;
    padding: 10px;
}

.article-wrapper:hover {
    border:#2ca585 solid 2px;
    border-radius: 4px;
}


.tech-writing-section {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: row;
}

li {
padding-bottom: 5px;
}

.icon {
    height: 25px;
    width: 25px;
    padding: 5px;
    border-radius: 5px;
    color:#7185d7
}

.icon:hover {
    color: white;
    background-color: #7185d7;
}

footer {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    justify-content: center;
    align-items: center;
}

.footer-image {
    max-width: 100%;
}

.quote {
    max-width: 100%;
    font-style: italic;
}

@media screen and (min-width: 1200px) {
    .footer-image {
        max-width: 35%;
    }

    .quote {
        max-width: 35%;
    }
}